body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  padding: 0.5rem;
  margin: 5px;
  border-radius: 0.5rem;
  border: solid;
  border-width: 1px;
  border-color: #888888;
  font-size: 1rem;
  font-family: "Gill Sans", sans-serif;
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus, datalist:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 0 5px 2px #888888;
}

input:read-only {
  background: lightgray;
}

button {
  padding: .5rem;
  margin: 5px;
  /*border-radius: 0.2rem;*/
  border: none;
  background: #caffbf;
  border-radius: 0.2rem;
  font-size: 1rem;
}
button:hover{
  background: #dfffd8;
}

button[type="submit"] {
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  background: #00b4d8;
  
  color: white;
}

button[type="submit"]:hover {
  background: #00cff9;
}

label {
  font-weight: bold;
}

.red {
  background-color: #dc2f02;
  color: white;
}

.red:hover {
  background-color: #f23807;
}

.container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  color: green;
  cursor: pointer;
}
.link:hover {
  color: lightgreen;
  cursor: pointer;
}